---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "博客";

const identity = {
  firstName: "郑超",
  country: "河北唐山",
  occupation: "前端工程师",
  hobbies: ["足球", "音乐", "Dota"],
};

const skills = ["HTML", "CSS", "JavaScript", "Vue", "Astro"];

const skillColor = "navy";
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ skillColor }}>
    .skill {
      color: green;
      color: var(--skillColor);
      font-weight: bold;
    }
  </style>

  <h2>...和我的新Astro网站！</h2>
  <p>我正在学习Astro的入门教程。</p>

  <p>个人简历</p>
  <ul>
    <li>我的名字是{identity.firstName}.</li>
    <li>我住在{identity.country}.我的职业是{identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          我的两个习惯：{identity.hobbies[0]}和{identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>我的技能是：</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
